@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #43766c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ***************** CONFIGURAÇÕES HEADER ***************** */

.header{
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  background: #f8fae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #76453b;
  box-shadow: 0 0 30px #76453b;
}

header {
  width: 100%;
  max-width: 1100px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
  color: #b19470;
  user-select: none;
}
.logo span {
  color: #76453b;
}

.navgation a {
  position: relative;
  font-size: 1.1rem;
  color: #b19470;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navgation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #76453b;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
}
.navgation a:hover {
  color: #76453b;
}

.navgation a:hover::after {
  transform: scaleX(1);
}

.btnContato-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #b19470;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #b19470;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.btnContato-popup:hover {
  background: #76453b;
  border-color: #76453b;
  color: #f8fae5;
}

/* ********* CONTATO POPUP ************ */

.popup-contato {
  margin: 150px;
  width: 400px;
  height: 440px;
  background-color: transparent;
  border: 2px solid #f8fae56e;
  border-radius: 20px;
  backdrop-filter: blur(30px); /* MUITO IMPORTANTE EFEITO BORRADO*/
  box-shadow: 0 0 30px #f8fae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
}
.active {
  transform: scale(1);
}

/* *********** FORM POPUP *************** */
.form-contato {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form-contato h2 {
  width: 100%;
  height: 45px;
  padding: 20px;
  background: #f8fae5;
  color: #b19470;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-contato form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  position: relative;
  width: 80%;
  height: 50px;
  border-bottom: 2px solid #f8fae5;
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #f8fae5;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

form textarea {
  width: 90%;
  height: 60%;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* *********** btnPopup ******* */

.btnConatato {
  padding: 5px 50px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  color: #b19470;
  background: #f8fae5;
}
.btnConatato:hover {
  background: #76453b;
  border-color: #76453b;
  color: #f8fae5;
}

/* ************** ICON CLOSE - POPUP ****************** */

.popup-contato .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #f8fae567;
  font-size: 2rem;
  color: #b19470;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.popup-contato .icon-close:hover {
  color: #76453b;
}

/* ****************** CONTEUDO ************************ */

#container{
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 90px;
}


/* ********** INICIO ************* */

.inicio{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.introducao1,
.introducao2{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introducao2{
  align-items: center;
}

/* ********** INICIO // introdução1 ************* */

.introducao1 h1 {
  font-size: 4rem;
  color: #111d1a;
}
.introducao1 h1 span{
  color: #f8fae5;
}
.introducao1 p span{
  color: #111d1a;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.introducao1 h2{
  font-size: 2rem;
  margin-top: 10px;
  color: #111d1a;
}
.introducao1 p {
  color: #f8fae5;
  letter-spacing: 10px;
  margin-left: 2px;
}

.introducao1 a{
  text-align: center;
  padding: 10px 50px;
  margin: 15px auto;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #b19470;
  color: #b19470;
  text-decoration: none;
  background: #f8fae5;
  transition: .5s;
}
.introducao1 a:hover{
  background: #76453b;
  border-color: #76453b;
  color: #f8fae5;
}

/* ********** INICIO // introdução2 -IMG ************* */

.img{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img img{
  width: 100%;
  height: 80%;
}

.introducao2 .midias-social{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  text-align: left;
  gap: 5px;
} 
.midias-social .redes{
  display: flex;
  transition: .5s;
}
.midias-social .redes a span{
  cursor: pointer;
  position: relative;
  top: -12px;
  color: #111d1a;
}

.midias-social .redes .instagram:hover{
  color: #F6366E;
  font-weight: bold;
}
.midias-social .redes .github:hover{
  color: #000;
  font-weight: bold;
}
.midias-social .redes .linkedin:hover{
  color: #00e1ff;
  font-weight: bold;
}

.midias-social .redes a{
  text-decoration: none;
  
}

.midias-social .redes a ion-icon{
  font-size: 2.1rem; 
  color: #111d1a;
  
}





/* ********************  RESPONSIVOS ************************** */

@media (max-width: 740px) {
  header .navgation .home {
    display: none;
  }
  header {
    display: flex;
    padding: 20px 30px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  header .navgation {
    display: none;
  }
  .popup-contato {
    width: 90%;
    height: 440px;
  }
  
  .form-contato h2 {
    font-size: 1.2rem;
  }
}

@media(max-width: 533px){
  .inicio{  
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .introducao1{
    width: 100%;
    text-align: center;
  }
  .introducao1 p {
    letter-spacing: 5px;
  }
  .introducao2{
    width: 100%;
  }
  .introducao2 .img img{
    display: none;
  }
  .introducao2{
    margin-top: 20px;
  }
}

@media(max-width: 370px){
  #container{
    margin-top: 150px;
  }
  .midias-social .redes a span{
    display: none;
  }
  .introducao2{
    margin-top: 50px;
  }
}